* {
  font-size: 16px;
  font-family: monospace;
}

window#waybar {
  background: #161616;
  color: #f2f4f8;
  border: none;
  border-radius: 0px;
  /* padding: 20px; */
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  /* color: #1a1a1a; */
  /* color: rgba(0, 0, 0, 0.5); */
}

#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

/* just the logo */
#custom-spotify {
  color: #04982c;
  padding: 5px 5px;
}

/* the info displayed by playerctl */
#custom-mpris {
  color: #04982c;
  padding: 5px 5px;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#language,
#network,
#window,
#memory,
#cpu,
#battery,
#disk,
#tray,
#custom-mpris,
#custom-spotify,
#custom-quit,
#custom-lock,
#custom-power,
#custom-reboot,
#custom-suspend,
#network,
#language,
#window {
  /* background: #1a1a1a; */
  /* background: rgba(0, 0, 0, 0); */
}

#workspaces button {
  padding: 0 2px;
  color: #c0caf5;
}

#workspaces button.active {
  color: #7aa2f7;
}

#workspaces button.focused {
  color: #7aa2f7;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 3px;
}

#pulseaudio {
  color: #7aa2f7;
}

#memory {
  color: #e8ab53;
}

#cpu {
  color: #ff00d2;
}

#battery {
  color: #0b99c3;
}

#disk {
  color: #04982c;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
  padding: 0 10px;
}

#custom-suspend {
  color: #4062c0;
}

#custom-quit {
  color: #f59809;
}

#custom-lock {
  color: #6f05e5;
}

#custom-reboot {
  color: #00aba3;
}

#custom-power {
  color: #ff1818;
}

#not-power {
  padding: 0 0px;
  padding-left: 10px;
}

#network {
  padding: 0px 15px;
}

#network.disabled {
  color: #aba8a8;
}

#network.disconnected {
  color: #aba8a8;
}

#network.ethernet {
  color: #2aa198;
}

#network.wifi {
  color: #268bd2;
}

#language {
  color: #b58900;
  border-radius: 0px;
  padding: 0px 5px;
}

#window {
  padding: 0px 0px;
}
